[submodule "optimization-methods-labs"]
	path = optimization-methods-labs
	url = git@github.com:kp2pml30/optimization-methods-labs.git
[submodule "data-analysis"]
	path = data-analysis
	url = git@github.com:kp2pml30/ifmo-labs-data-analysis.git
[submodule "software-design/hw-software-design"]
	path = software-design/hw-software-design
	url = git@github.com:kp2pml30/hw-software-design.git
[submodule "languages-and-type-systems/typst-prooftree"]
	path = languages-and-type-systems/typst-prooftree
	url = https://github.com/SkiFire13/typst-prooftree.git
[submodule "languages-and-type-systems/stella/test/golden"]
	path = languages-and-type-systems/stella/test/golden
	url = https://github.com/AbsoluteNikola/stella-tests.git
