[submodule "optimization-methods-labs"]
	path = optimization-methods-labs
	url = git@github.com:kp2pml30/optimization-methods-labs.git
[submodule "data-analysis"]
	path = data-analysis
	url = git@github.com:kp2pml30/ifmo-labs-data-analysis.git
